@media only screen and (max-width: 992px) {
    .navabar {
      flex-direction: column;
    }
    .toggle-button {
      display: block;
    }
  
    .links {
      position: absolute;
      right: 35px;
      width: 250px;
      background:  #9681EB;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
      margin: 30px 0px;
      border-radius: 10px;
      padding: 10px;
      animation: slideIn 0.3s ease forwards;
    }
    .links ul {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
  
      transition: ease 1s;
      animation: slideIn 0.5s ease forwards;
    }
    .links ul li a{
      color: #fff;
    }
    .links {
      display: none;
    }
    .links.active {
      display: block;
    }
    
    .title-section h5{
     
      font-family: var(--main-font);
      color: #000;
      font-size: 16px;
      
  }
  .title-section h2{
      margin-top: 20px;
      font-family: var(--sub-font);
      color: var(--title-color);
      font-size: 34px;
      font-weight: 600;
      
  }
  .title-section{
      max-width: 500px;}
      .popupcontainer{
          position:fixed;
          top: 100px;
          left: 17%;
          grid-template-columns: 1fr;
          height: 550px;
          align-items: center;
          justify-content: center;
      }
      #popup-image{
          width:250px;
          height: 250px;
      }
      .popupimage{
          text-align: center;
      }
      .book-image img {
          width: 156px;
          margin-top: 10px;
          height: 212px;}
          h3 {
              font-size: 26px;
          }
  }
  @media only screen and (max-width: 767px) {
      .hero-container {
          flex-direction: column-reverse;
          height: 100%;
        }
    .title-section h5{
      font-family: var(--main-font);
      color: #000;
      font-size: 16px;
      
  }
  .title-section h2{
      margin-top: 20px;
      font-family: var(--sub-font);
      color: var(--title-color);
      font-size: 34px;
      font-weight: 600;
      
  }
  .title-section{
      max-width: 100%;
      padding:30px;
   }
   .image-section{
      max-width: 100%;
      padding:0px;
   }
  
   .cards{
      padding:5px;
      grid-template-columns: 1fr 
   }
   .card{
      margin: 10px 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      
     
   }
   .book-title-author h5{
      font-size: 16px;
      text-align: center;
  }
  .book-title-author h3{
      font-size:24px;
      text-align: center;
  
  }
  .short-desc p{
      font-family: var(--main-font);
      text-align: justify; 
  }
  .popupcontainer{
      position:fixed;
      top: 100px;
      left: 0;
      grid-template-columns: 1fr;
      height: 550px;
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  #popup-image{
      width:250px;
      height: 250px;
  }
  .newsletter-container {
      max-width: 700px;
      display: grid;
      grid-template-columns: 1fr;
      padding: 30px;
  }
  .input-section input {
      width: 100%;}
  .input-section button {
      border-radius: 20px;
      position: absolute;
      right: 29px;}
      .footer{
          flex-direction: column;
      }
  
  }
  
  
  
  @media only screen and (max-width: 520px) {
      
    .links {
      position: absolute;
      right: 0px;
    }
    .links {
      width: 100%;
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr ;
      grid-gap: 40px;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  }
  